body {

    background: linear-gradient(to right, white, #ff8778);

}

.containerAll {

    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em ;
}

.formCreate {

    border: 2px solid #ff8778;
    padding: 20px;
    box-shadow: 0px 0px 4px 0px black;
    background-color: white;
    border-radius: 10px;

}

.buttonCreate {

    width: 100% !important;
    background-color: #1f2937 !important;

}

.buttonCreate:hover {

    background-color:#394a61 !important;

}