.navbar {

    border-bottom: 3px solid #ff8778;

}

.linkStyle {

    color: #ff8778!important;

}

.linkStyle:hover {

    color: #ff1e00 !important;
   
}

.inputLoginStyle {

    border: 1px solid black;

}


.linkTitleStyle {

    color: #ff8778 !important;
    font-weight: 900 !important;
    border: 1px solid #ff8778;
    
    padding: 5px;
    border-radius: 5px;

}

.linkTitleStyle:hover {

    color: #ff1e00 !important;
    border: 1px solid #ff1e00  !important;
}

.iconTitle {

    box-shadow: 0px 0px 4px 0px #ff8778;
    border-radius: 5px;
    padding: 3px;

}